/* ==========================================================================
   Site
   ========================================================================== */

.site-header {
  margin: 40px 0;
}

.site-title {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 0.2em;
  font-size: 5em;
  font-weight: normal;
  line-height: 75px;
}

.site-tagline {
  margin-top: 40px;
  font-size: 1.75em;
  font-weight: normal;
}

.site-main img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.site-footer {
  border-top: 1px solid #ccc;
  margin-top: 3em;
}

.site-footer p {
  color: #777;
  font-size: 0.875em;
}

.main-section {
  padding-top: 30px;
}

.top-list {
  list-style: none;
}

.top-list span {
  float:right;
}

.top-list .header {
  font-size: 16px;
}

.components-wrapper {
  display: none;
}

.loader {
  text-align: center;
  padding-bottom: 60px;
  color: #666;
  font-size: 2em;
}

#footer {
  margin-bottom:10px;
}

.u-overflowRegion {
  overflow: auto;
}
