/* ==========================================================================
   Site
   ========================================================================== */

.site-header {
  margin: 2.5em -1.25em;
  border-radius: 4px;
  padding: 1em;
  vertical-align: center;
}

.site-title {
  margin: 0;
  font-size: 5em;
  font-weight: normal;
  line-height: 75px;
}

.site-tagline {
  margin: 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 75px;
}

.site-main img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.site-footer {
  border-top: 1px solid #ccc;
  margin-top: 3em;
}

.site-footer p {
  color: #777;
  font-size: 0.875em;
}

.main-section {
  padding-top: 30px;
}

.top-list {
  list-style: none;
}

.top-list span {
  float:right;
}

.top-list .header {
  font-size: 16px;
}

.components-wrapper {
  display: none;
}

.loader {
  text-align: center;
  padding-bottom: 60px;
  color: #666;
  font-size: 2em;
}

#footer {
  margin-bottom:10px;
}
